 <div style="height:50px; width: 1500px;"> 
    <mat-form-field class="field">
        <input matInput type="text" placeholder="{{'contracts-page.filter' | translate}}"/>
                <mat-icon matSuffix>
                    search
                </mat-icon>      
    </mat-form-field>
    <button mat-icon-button 
     (click)="openDialog()"
     class="addContractButton"
     *ngIf="currentClient.role=='admin'">
     <mat-icon>add_circle_outline</mat-icon> 
    </button>                         
 </div>
<br>

<div>
    <ng-container  *ngFor="let contrat of contracts" >
        <app-contrat-item [contract]="contrat"></app-contrat-item>
    </ng-container >
</div>