<ng-container style="padding-top:0;">
  <form [formGroup]="clauseForm" (ngSubmit)="submit()">
      <h1 mat-dialog-title style="text-align:center; padding: 10px;">{{'clauses-page.add-clause.title' | translate}}</h1>
      <hr>
      <mat-dialog-content>
      <div>  
        <mat-form-field>
          <input matInput formControlName="clauseTitle" placeholder="{{'clauses-page.add-clause.clause-title' | translate}}">
        </mat-form-field>
      </div>

<!--       <div>  
          <mat-form-field>
            <input matInput formControlName="title" placeholder="{{'contracts-page.add-contract.contract-title' | translate}}">
          </mat-form-field>
      </div>   -->
      
      <div>  
          <mat-form-field>
            <textarea matInput 
              matTextareaAutosize="true"  
              matAutosizeMinRows="3" 
              formControlName="clauseDesc" 
              placeholder="{{'clauses-page.add-clause.clause-description' | translate}}"></textarea>
          </mat-form-field>
      </div>    
      </mat-dialog-content>

      <mat-dialog-actions>
        <button mat-button 
        class="cancel-button"
        color="warn" 
        type="button" mat-dialog-close> {{'contracts-page.add-contract.cancel-button' | translate}} </button>

        <button mat-button 
        class="add-button"
        color="primary" 
        type="submit" 
        [disabled]="!clauseForm.valid && clauseForm.touched"
        style="position:relative;"> {{'contracts-page.add-contract.add-button' | translate}} </button>
        
      </mat-dialog-actions>
  </form>
</ng-container>