<div class="row" style="margin-top: 50px; margin-bottom: 100px;">
  <div class="col-md-12 client" style="margin-left: 50px;">
      <div class="titlelabel" style="position: relative;">
          {{'block-details-page.title' | translate}}   
      </div>

    <div style="margin-top:20px; width: 1200px; flex: 1 1 auto;" class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" >
            <ng-container matColumnDef="blockNumber">
                <mat-header-cell *matHeaderCellDef> {{'block-details-page.table.block-number' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let data" > {{data.blockNumber}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="prevHash">
            <mat-header-cell *matHeaderCellDef> {{'block-details-page.table.prev-hash' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let data" > {{data.prevHash}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="blockHash">
            <mat-header-cell *matHeaderCellDef> {{'block-details-page.table.block-hash'  | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let data" > {{data.blockHash}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dataHash">
                <mat-header-cell *matHeaderCellDef> {{'block-details-page.table.data-hash'  | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let data" > {{data.dataHash}} </mat-cell>
            </ng-container>

<!--             <ng-container matColumnDef="creatorIdentity">
            <mat-header-cell *matHeaderCellDef> {{'block-details-page.table.creator-identity'  | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let data" > {{data.creatorIdentity}} </mat-cell>
            </ng-container> -->

            <mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="'customWidthClass'"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="'customWidthClass'"></mat-row>
        </mat-table>
        <mat-paginator class="paginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" #paginator></mat-paginator>
        </div>
  </div>
</div>
