<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav class="app-sidenav" mode="over" (click)="sidenav.toggle()">
      <mat-toolbar class="sidenav-toolbar" color="primary">
        <h2 style="font-weight: bold;">{{'header.sidenav.title' | translate}}</h2>
        <span class="toolbar-filler"></span>
        <button mat-icon-button color="accent" style="outline: 0px;" >
          <mat-icon  class="material-icons">close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item class="sidenav-link" routerLink="clients" >
          <mat-icon mat-list-icon>people</mat-icon>
          <span class="title" mat-line>{{'header.sidenav.clients' | translate}}</span>
        </a>
        <a mat-list-item class="sidenav-link" routerLink="contracts" >
          <mat-icon mat-list-icon>folder</mat-icon>
          <span class="title" mat-line>{{'header.sidenav.contracts' | translate}}</span>
        </a>
        <a mat-list-item class="sidenav-link" routerLink="comptes" >
            <mat-icon mat-list-icon>account_balance</mat-icon>
            <span class="title" mat-line>{{'header.sidenav.accounts' | translate}}</span>
        </a>
        <a mat-list-item class="sidenav-link" routerLink="block-details" >
            <img class="blockchain-logo" style="margin-left: 4px" src="../../assets/blockchain.png">
            <span class="title" style="margin-left: 46px;" mat-line>{{'header.sidenav.block-details' | translate}}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <span> 
    <mat-toolbar class="header" id="main-toolbar" color="primary">
        <button mat-icon-button style="outline: 0px;" color="accent" (click)="sidenav.toggle()">
            <mat-icon class="menu-button" class="material-icons">menu</mat-icon>
        </button>
        <div style="width: 10px">

        </div>
        <a class="component-title">
            <img class="icon navbar-brand" src="../../assets/white_fujitsu_bank.png" routerLink="/" style="cursor: pointer;">      
        </a>
        <span class="toolbar-filler"></span>
        
<!--         <button mat-button 
            color="accent" 
            routerLink="login" 
            *ngIf="!loggedIn" 
            style="outline: 1px solid white">{{'header.header.login-button' | translate}}</button> -->
        
        <div>
            <span [matMenuTriggerFor]="avatarMenu"
                class="avatar"
                (click)="toggleArrow()"
                (clickOutside)="onClickedOutside()"
                *ngIf="loggedIn">
                    <img class="avatar" 
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF0ZqCD68HDHti64bFIjN3hzeXT-cMLuo3KPGyXRijRAQHddXoNA"
                    alt="Fujitsu Bank">
                    <div class="arrow-up" 
                    [style.border-bottom]="showArrow ? '5px solid white' : '5px solid transparent'"></div>
            </span>
            <div> 
                <mat-menu #avatarMenu="matMenu" [overlapTrigger]="false" xPosition="before" >
                    <button mat-menu-item (click)="profile()">
                        <mat-icon>assignment_ind</mat-icon>
                        <span>{{'header.avatar-menu.profile' | translate}}</span>
                    </button>
                    
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>directions_walk</mat-icon>
                        <span>{{'header.avatar-menu.logout' | translate}}</span>
                    </button>                        
                </mat-menu>
            </div>
        </div>
    </mat-toolbar>  
    </span>
    <router-outlet> </router-outlet>
    <mat-toolbar class="footer" color='primary'>
        <mat-toolbar-row class="footer-row" style="height: 40px;">
            <a href="https://www.facebook.com/fujitsuICT/" target="_blank">
                <img class="social_logo" src="../../assets/facebook_logo.png" alt="Facebook">
            </a>
            <a href="https://twitter.com/Fujitsu_Global" target="_blank"> 
                <img class="social_logo" src="../../assets/twitter_logo.png" alt="Twitter">
            </a>
            <a href="https://www.youtube.com/user/FujitsuTS" target="_blank"> 
                <img class="social_logo" src="../../assets/youtube_logo.png" alt="YouTube"> 
            </a>
            <a href="https://plus.google.com/+Fujitsu" target="_blank"> 
                <img class="social_logo" src="../../assets/google_logo.png" alt="Google+"> 
            </a>
        </mat-toolbar-row>
        <mat-toolbar-row class="footer-row" style="height: 20px; margin-top: 10px">
            <p class="footer-text">© Copyright Fujitsu 1995-2018.</p>
        </mat-toolbar-row>
    </mat-toolbar>
</mat-sidenav-container>

 

