/* Avatar menu styling*/

.avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-top: 5px;
    cursor: pointer;
} 

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 40%; 
    margin-top: 1px;
}

.mat-menu-item{
    outline: 0;
}

/* Header styling*/

.icon{
    height: 60px;
    outline: 0;
}

.header{
    flex: 1 1 auto;
    position: fixed; 
    z-index: 2;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.toolbar-filler{
    flex: 1 1 auto;
}

/* Sidenav styling */

.blockchain-logo{
    width: 24px;
    height: 24px;
    position: absolute;
}

.mat-sidenav{
    position: fixed;
    width: 300px;
}

.sidenav-link{
    font-size: 20px; 
}


.sidenav-toolbar{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.mat-list-item{
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.material-icons{
    outline: 0px;
}

/* Footer styling */

.footer{
    flex: 1 1 auto;
    justify-content: center;
    height: 80px;
    position: fixed;
    bottom: 0px;
}

.footer-text{
    font-size: 12px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.footer-row{
    justify-content: center;
}

.social_logo{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
