.col-xs-12{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.title{
    text-align: center;
}

.mat-dialog-content{
    position: relative;
}

.mat-dialog-actions{
    justify-content: center;
}

.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.cancel{
    outline: 1px solid #949494;
}
.submit{
    outline: 1px solid #949494;
}
.mat-form-field{
    width: 350px;
}