
<div style="position: relative;">
  <div class="closeButton" (click)="onClose()"> <mat-icon>clear</mat-icon></div>
  <form [formGroup]="transferForm">
      <h2 mat-dialog-title class="title">Transfer Funds</h2>
      <hr>
      <mat-dialog-content>
        <div> 
          <mat-form-field>
            <input matInput (dateInput)="updateDate(date.value)" formControlName="date" [matDatepicker]="datepicker" placeholder="{{'operations-page.make-transfer.pick-date' | translate}}" #date>
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div> 
          <mat-form-field>
            <input matInput #beneficiaryAccount (blur)="updatebeneficiaryAccount(beneficiaryAccount.value)" formControlName="amount" placeholder="{{'operations-page.make-transfer.beneficiary-account' | translate}}" required>
          </mat-form-field>
        </div>
        <div> 
          <mat-form-field>
            <input matInput #amount (blur)="updateAmount(amount.value)" formControlName="beneficiaryAccount" placeholder="{{'operations-page.make-transfer.amount' | translate}}" required>
          </mat-form-field>
        </div>
        <div> 
          <mat-form-field>
            <input matInput #message (blur)="updateMessage(message.value)" formControlName="message" placeholder="{{'operations-page.make-transfer.message' | translate}}" required>
          </mat-form-field>
        </div>
      </mat-dialog-content>

      <mat-dialog-actions> 

        <button mat-button 
          class="cancel" 
          color="warn" 
          type="button"
          (click)="onClose()">{{'operations-page.make-transfer.cancel' | translate}}</button>

        <button mat-button 
          class="submit" 
          color="primary" 
          type="submit"
          [disabled]="!transferForm.valid"
          (click)="onSubmit()">{{'operations-page.make-transfer.submit' | translate}}</button>

      </mat-dialog-actions> 
  </form>
</div>
