<div class="row" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="col-md-12 client" style="margin-left: 50px;">
        <div class="titlelabel" style="position: relative;">
            {{'clients-page.title' | translate}}   
        </div>
        <br><br>
        <app-clients-list></app-clients-list>
      
    </div>

</div>


 