table {
    width: 100%;
}

.mat-icon{
  vertical-align: middle; 
  margin-bottom: 2px; 
}

.mat-header-cell{
  font-weight: bold;
}

.addAccountButton{
  color: black;
  margin-left: 50px;
  outline: 0;
}