<div style="width: 1500px;"></div>
<div style="height:50px; width: 1500px;"> 
       
        <mat-form-field class="field">
             <input matInput type="text" 
                placeholder="{{'accounts-page.filter' | translate }}"                
                (input)="search($event.target.value)"/>
             <mat-icon matSuffix>
                 search
             </mat-icon>      
        </mat-form-field>
      
        <button mat-button color='primary' matSuffix  mat-icon-button 
             class="addAccountButton"
             (click)=openAddDialog()>
             <mat-icon >add_circle_outline</mat-icon>
        </button> 
     
</div>

<div style="margin-top:20px; width: 1200px;" >
          
     <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="accountId">
        <mat-header-cell *matHeaderCellDef> {{'accounts-page.table.account-ID' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.accountId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="clientId">
        <mat-header-cell *matHeaderCellDef> {{'accounts-page.table.client-ID' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.clientId}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef> {{'accounts-page.table.balance' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.balance}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;" (click)="openDetails(row)"></mat-row>
    </mat-table>

</div>
