<div style="position: relative;">
  <form [formGroup]="accountForm" (ngSubmit)="submit()">
      <h1 mat-dialog-title style="text-align:center; padding: 10px;">{{'accounts-page.add-account.title'| translate }}</h1>
      <hr>
      <mat-dialog-content>
      <div class="closeButton" (click)="onClose()"><mat-icon>clear</mat-icon></div>
      <div>  
        <mat-form-field>
          <input matInput formControlName="accountId" placeholder="{{'accounts-page.add-account.account-ID'| translate }}">
        </mat-form-field>
      </div>

      <div>  
          <mat-form-field>
            <input matInput formControlName="clientId" placeholder="{{'accounts-page.add-account.client-ID'| translate }}">
          </mat-form-field>
      </div> 

      <div>
        <mat-form-field>
          <mat-select placeholder="{{'accounts-page.add-account.account-type' | translate}}" formControlName="accountType" >
            <mat-option *ngFor="let type of accountTypes"
            [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        
        </mat-form-field>
      </div>    
        
      <div>  
          <mat-form-field>
            <input matInput formControlName="balance" placeholder="{{'accounts-page.add-account.account-balance'| translate }}">
          </mat-form-field>
      </div>     
      </mat-dialog-content>

      <mat-dialog-actions>
        <button mat-button 
        class="cancel-button" 
        color="warn" 
        type="button" mat-dialog-close>{{'accounts-page.add-account.cancel-button'| translate }}</button>

        <button mat-button 
        class="add-button" 
        color="primary" 
        [disabled]="!accountForm.valid && accountForm.touched"
        type="submit">{{'accounts-page.add-account.add-button'| translate }}</button>
        
      </mat-dialog-actions>
  </form>
</div>