<div class="row" style="margin-top: 50px; margin-bottom: 100px;">
  <div class="col-md-12 searchdiv" style="margin-left: 50px;" >
    <div class="titlelabel"> 
      {{'accounts-page.title'|translate}} 
    </div>
    
    <app-comptes-list ></app-comptes-list>
  
  </div>
</div>
