<div class="card" style="width:420px; max-height : 580px;" >
    <div class="card-body" style="padding-bottom:0;">
      <p class="card-title">Clauses of Contract {{contrat.contratId}}</p>
    </div>
    <div>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Clause Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Clause Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        </mat-table> 
    </div>
</div>

