.listLabel{
    height: 70px;
    width: 430px;
    text-align: left;
    font-size: 50px;
    margin-left: 20px;
}

.contract{
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
}

.titlelabel{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}