<div class="row" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="col-md-12 contract" style="margin-left: 50px; " >
        <div class="titlelabel">
            {{'contracts-page.title' | translate}} 
        </div>
        <app-contrat-list></app-contrat-list>
    </div>
</div> 
