<div class="login-page">
    <mat-card class="login">
      <mat-card-header style="justify-content:center;">
        <h1>
          {{'login-page.title'|translate}}
        </h1>
      </mat-card-header>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div> 
          <mat-icon class="fieldIcon">email</mat-icon> 
          <mat-form-field>            
            <input matInput formControlName="email" placeholder="{{'login-page.email-address'|translate}}">
            <mat-hint>{{'login-page.email-hint'|translate}}</mat-hint>
          </mat-form-field>
        </div> 
        <br>
        <div>
          <mat-icon class="fieldIcon">vpn_key</mat-icon> 
          <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="{{'login-page.password'|translate}}">
            <mat-hint>{{'login-page.password-hint'|translate}}</mat-hint>
          </mat-form-field>
        </div>   
        <br>
      <button mat-button 
        class="cancel-button" 
        color="warn" 
        type="button" 
        routerLink="/"> {{'login-page.cancel-button'|translate}} </button>   
      <button mat-button 
        class="login-button" 
        color="primary" 
        type="submit"
        [disabled]="!loginForm.valid && loginForm.touched"> {{'login-page.login-button'|translate}} </button>  
      </form>
    </mat-card>
</div>