.login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 400px;
    height: 325px;  
}

.fieldIcon{
    vertical-align: middle; 
    position: relative;
}

.cancel-button{
    margin-left: 25%;
    outline: 1px solid #949494;
}

.login-button{
    outline: 1px solid #949494;
}

