<div style="height:50px; width: 1500px;"> 
        <span>
    <mat-form-field class="field">
        <input matInput type="text" 
            placeholder="{{'clients-page.client-list.firstName-search' | translate}}" 
            [(ngModel)]="searchByFirstName"
            (input)="onChanges()"/>
        <mat-icon matSuffix>
                search
        </mat-icon>      
    </mat-form-field>
    </span>
    <span> 
    <mat-form-field class="field"> 
        <input class="lastNameField" matInput type="text" 
                placeholder="{{'clients-page.client-list.lastName-search' | translate}}" 
                [(ngModel)]="searchByLastName"
                (input)="onChanges()"/>
        <mat-icon matSuffix>
            search
        </mat-icon>
    </mat-form-field>
     
        <button class="addClientButton" mat-button color='primary'  
        matSuffix  mat-icon-button (click)="openDialog()"
        >
            <mat-icon>add_circle_outline</mat-icon>
        </button>   
    </span>
    </div>

<div class="scrollable" style="margin-top:20px;" #clientRef>   

    <ng-container *ngFor = "let client of (clients | clientsearch:searchByLastName:false |clientsearch:searchByFirstName:true);">
        <app-client-item [client]="client" >

        </app-client-item>

        <span *ngIf="c==0">No result</span>

    </ng-container>
    <span *ngIf="!list"> No result</span>

</div>

