.list{
    display: flex;
}

.scrollable{
    max-height: 648px;
    overflow: auto;  
}

.mat-icon{
    vertical-align: middle; 
    margin-bottom: 2px; 
}

.addClientButton{
    outline: 0;
    color: black;
    margin-left: 50px;
}