.mat-form-field{
    width: 100%;
}

.mat-raised-button{
    position: relative;
    margin-left: 20%;
    size: 50%;   
}

.mat-dialog-actions{
    justify-content: center;
}

.mat-button{
    outline: 1px solid #949494; 
}
