<ng-container style="padding-top:0;">
  <form [formGroup]="contractForm" (ngSubmit)="submit()">
      <h1 mat-dialog-title style="text-align:center; padding: 10px;">{{'contracts-page.add-contract.title' | translate}}</h1>
      <hr>
      <mat-dialog-content>
      <div>  
        <mat-form-field>
          <input matInput formControlName="contractId" placeholder="{{'contracts-page.add-contract.contract-ID' | translate}}">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select placeholder="{{'contracts-page.add-contract.contract-type' | translate}}" formControlName="contractType" >
            <mat-option *ngFor="let type of contractTypes"
            [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div>  
          <mat-form-field>
            <textarea matInput 
              matTextareaAutosize="true"  
              matAutosizeMinRows="3" 
              formControlName="description" 
              placeholder="{{'contracts-page.add-contract.contract-description' | translate}}"></textarea>
          </mat-form-field>
      </div>    
      </mat-dialog-content>

      <mat-dialog-actions>
        <button mat-button 
        class="cancel-button"
        color="warn" 
        type="button" mat-dialog-close> {{'contracts-page.add-contract.cancel-button' | translate}} </button>

        <button mat-button 
        class="add-button"
        color="primary" 
        type="submit" 
        [disabled]="!contractForm.valid && contractForm.touched"
        style="position:relative;"> {{'contracts-page.add-contract.add-button' | translate}} </button>
        
      </mat-dialog-actions>
  </form>
</ng-container>