.mat-form-field{
    width: 100%;
    justify-content: center;
}

.closeButton{
    position: absolute;
    top: 0;
    right: 0;
}

.mat-icon{
    color: black;
    cursor: pointer;
}

.mat-dialog-actions{
    justify-content: center;
}

.mat-button{
    outline: 1px solid #949494;
}