<div style="position: relative;">
    <form [formGroup]="clientForm" (ngSubmit)="submit()">
        <h1 mat-dialog-title style="text-align:center; padding: 10px;">{{'clients-page.add-client.title' | translate}} </h1>
        <hr>
        <mat-dialog-content>
        <div class="closeButton" (click)="onClose()"> <mat-icon>clear</mat-icon> </div>
        <div>  
          <mat-form-field>
            <input matInput formControlName="clientId" placeholder="{{'clients-page.add-client.client-ID' | translate}}">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-select placeholder="Role" formControlName="role" >
              <mat-option *ngFor="let role of roles"
              [value]="role">
                {{role}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>  
            <mat-form-field>
              <input matInput formControlName="firstName" placeholder="{{'clients-page.add-client.first-name' | translate}}">
            </mat-form-field>
        </div>  
        
        <div>  
            <mat-form-field>
              <input matInput formControlName="lastName" placeholder="{{'clients-page.add-client.last-name' | translate}}">
            </mat-form-field>
        </div>    
        <div>  
            <mat-form-field>
              <mat-label>{{'clients-page.add-client.email-label' | translate}}</mat-label>
              <input type="email" formControlName="email" matInput placeholder="{{'clients-page.add-client.email-placeholder' | translate}}">
            </mat-form-field>
        </div>  
        <div>  
            <mat-form-field>
              <input type="password" matInput formControlName="password" placeholder="{{'clients-page.add-client.password' | translate}}">
            </mat-form-field>
        </div>  
        </mat-dialog-content>

        <mat-dialog-actions style="justify-content: center;">
          <button mat-button 
          class="cancel-button" 
          color="warn" 
          type="button" mat-dialog-close>{{'clients-page.add-client.cancel-button' | translate}}</button>

          <button mat-button 
          class="add-button" 
          color="primary" 
          type="submit" 
          [disabled]="!clientForm.valid && clientForm.touched">{{'clients-page.add-client.add-button' | translate}}</button>
          
        </mat-dialog-actions>
    </form>
</div>