.card{
    margin-top : 10px;;
    margin-right: 5px;
    display: inline-table;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.card-body{
    height: 124px;
}

p{
    font-family: Roboto,"Helvetica Neue",sans-serif; 
}
