
  <div class="card" (click)="openDialog(client)" style="width: 13rem; cursor: pointer; margin-bottom: 20px;">
      <img class="card-img-top img-responsive" 
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF0ZqCD68HDHti64bFIjN3hzeXT-cMLuo3KPGyXRijRAQHddXoNA"
      style="max-height:181px; max-width:206px;"
       alt="client image">
      <div class="card-body" style="height: 100px;">
        <p class="card-title" style="text-align: center;"> {{client.firstName}}</p>
        <p class="card-text" style="text-align: center;"> {{client.lastName}}</p>
      </div>
  </div>


<ng-template #infoText >
  <p>No match found....</p>
</ng-template>