.mat-card{
    width: 18rem;
    height: 350px;
    display:inline-table;
    margin-right: 10px;
    margin-bottom:10px; 
    border: 1px solid #e8edf2; 
}

.mat-card-actions{
    display: block;
    text-align: center;
}

.mat-card-title{ 
    font-size: 18px;
    margin-bottom: 0px;
}

.mat-card-header{
    justify-content: center; 
}

.button-view-clauses{  
    outline: 1px solid #949494;
    text-align: center;    
}

