  <mat-card>
    <mat-card-header>
        <mat-card-title > {{contract.contractId}} </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p class="card-text"> <strong> {{'contracts-page.contract-item.date' | translate}} </strong> </p>
      <p>{{contract.creationDate}}</p>
      <p class="card-text"> <strong> {{'contracts-page.contract-item.description' | translate}} </strong></p>
      <p> {{contract.description}}</p>
    </mat-card-content>
    <mat-card-actions class="view-button">
        <button mat-button 
          color="primary" 
          class="button-view-clauses" 
          type="button" 
          (click)="onViewClauses(contract)">{{'contracts-page.contract-item.view-clauses' | translate}}</button>

        <button mat-button      
          color="primary" 
          class="button-view-clauses" 
          type="button"
          (click)="onSignContract(contract)">
          {{'contracts-page.contract-item.signed-contract' | translate}}
          </button>
    </mat-card-actions>
  </mat-card>

