.avatar{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
} 

.name{
    padding-top: 50px; 
    position: center;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.email{
    position: center;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-grid-tile{
    text-align: left;
    justify-content: center;
}

.mat-select{
    position: center;
    width: 300px;
}

.mat-input-element{
    cursor: pointer;
    position: center;
    width: 400px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-button{
    outline: 1px solid #e8edf2;; 
}

h2{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

h6{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-icon{
    vertical-align: middle;
    margin-left: 15px;
}