<div style="width: 800px; margin-top: 100px;">

<mat-grid-list style="margin-top: 20px; margin-left: 90px;" cols="4" rowHeight="60px" >

  <mat-grid-tile [colspan]="1" [rowspan]="3">
      <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF0ZqCD68HDHti64bFIjN3hzeXT-cMLuo3KPGyXRijRAQHddXoNA">
  </mat-grid-tile>

  <mat-grid-tile  [colspan]="3" [rowspan]="3">
      <div style="width: 800px;">
        <mat-grid-list cols="1" rowHeight="60px" >
            <mat-grid-tile [rowspan]="2"><h1 class="name">{{client.firstName}}  {{client.lastName}}</h1></mat-grid-tile>
            <mat-grid-tile [rowspan]="1"><!-- <a class="email" [routerLink]="['/clients']"> --> {{client.email}} </mat-grid-tile>  
        </mat-grid-list> 
      </div>
  </mat-grid-tile>
  
  <mat-grid-tile [colspan]="1"><h2>{{'profile-page.title' | translate}}</h2></mat-grid-tile>
  <mat-grid-tile [colspan]="3"> </mat-grid-tile>
  
  <mat-grid-tile [colspan]="1"><h6>{{'profile-page.client-ID' | translate}}</h6></mat-grid-tile>
  <mat-grid-tile [colspan]="3"><span>{{client.clientId}}</span><mat-icon>fingerprint</mat-icon></mat-grid-tile>

  <mat-grid-tile [colspan]="1"><h6>{{'profile-page.full-name' | translate}}</h6></mat-grid-tile>
  <mat-grid-tile [colspan]="3"><span> {{client.firstName}}  {{client.lastName}}</span><mat-icon>face</mat-icon></mat-grid-tile>

  <mat-grid-tile [colspan]="1"><h6>{{'profile-page.email' | translate}}</h6></mat-grid-tile>
  <mat-grid-tile [colspan]="3"><mat-form-field><input matInput type="email"></mat-form-field><mat-icon>email</mat-icon></mat-grid-tile>

  <mat-grid-tile [colspan]="1"><h6>{{'profile-page.password' | translate}}</h6></mat-grid-tile>
  <mat-grid-tile [colspan]="3"><mat-form-field><input matInput type="password"></mat-form-field><mat-icon>vpn_key</mat-icon></mat-grid-tile>

  <mat-grid-tile [colspan]="1"><h6>{{'profile-page.language' | translate}}</h6></mat-grid-tile>
  <mat-grid-tile [colspan]="3"> 
    <mat-form-field> 
      <mat-select (selectionChange)="setLanguage($event.value)">
        <mat-option value="en"> English </mat-option>
        <mat-option value="fr"> Français </mat-option>
        <mat-option value="de"> Deutsch </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon> language </mat-icon>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1"> </mat-grid-tile> 
  <mat-grid-tile [colspan]="3"> 
    <button mat-button 
      color="primary" 
      type="submit"> {{'profile-page.save-button' | translate}} 
    </button>
  </mat-grid-tile>

</mat-grid-list>

</div>
