/* You can add global styles to this file, and also import other style files */

.scrollable{
    max-height: 648px;
    overflow: auto;  
    
}

.titlelabel{
    height: 70px;
    width: 430px;
    text-align: left;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.field{
    margin-left: 20px;
}

.searchdiv{
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
}

mat-form-field{
    width: 300px;
  }