@import '~@angular/material/theming';
@include mat-core();

/* $my-theme-primary: mat-palette($mat-gray, 700);
$my-theme-accent: mat-palette($mat-gray, 100);
$my-theme-warn: mat-palette($mat-red, 900); */


/* $my-theme-primary: mat-palette($mat-red, 900);
$my-theme-accent: mat-palette($mat-gray, 100);
$my-theme-warn: mat-palette($mat-gray, 900); */

$my-theme-primary: mat-palette($mat-blue-gray, 500);
$my-theme-accent: mat-palette($mat-gray, 100);
$my-theme-warn: mat-palette($mat-red, 900);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

@include angular-material-theme($my-theme);