
<div class="row">
  <div class="col-md-12">
    <h1 class="title" >{{'home-page.title' | translate}}</h1>
    <p class="info">{{'home-page.sub-title' | translate}}</p>
    <br>
    <button mat-button 
      class="login" 
      color='primary' 
      routerLink="login" 
      >{{'home-page.login-button' | translate}}</button>
  </div>
</div>
