.login{
    border: 1px solid gray;
}

.row{
    width: 800px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;
}

.title{
    color: #607D8B;
    font-weight: bold;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.info{
    font-style: italic;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}