<div class="row" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="col-md-12 contract"  style="margin-left: 50px;" >
        <div class="titlelabel" style="width: 1000px;">
            {{'operations-page.title' | translate}} 
        </div> 
        <div style="margin-top: 40px; margin-left: 20px"> 
           <button mat-button 
          class="back-button" 
          routerLink = "../comptes"
          color="primary"> 
          <mat-icon matPrefix>arrow_back</mat-icon> 
          {{'operations-page.button' | translate}} </button>
          <hr>
          <div style="margin-top: 30px"> 
              <h6 style="font-style: italic" *ngIf = "noAccountSelected"> {{'operations-page.warning-message' | translate}} </h6>
          </div>

          <div *ngIf = "!noAccountSelected"> 
            <h2 class="account-name"> {{account.accountId}} </h2>
            <div> 
            <h2 style="float: left;">€ {{account.balance}}</h2> <i style="margin-left: 10px; line-height: 3.1;">{{'operations-page.balance' | translate}} </i>
            </div>
            <button mat-button 
              class="transfer-button"
              color="primary" 
              (click)=openTransferDialog()>{{'operations-page.transfer-button' | translate}}</button>
            <hr>

            <div class="transaction-history">
              <h3> {{'operations-page.transaction-history' | translate }}</h3>
              <div style="margin-top:20px; width: 1200px;" class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource" >
                  <ng-container matColumnDef="date">
                      <mat-header-cell *matHeaderCellDef> {{'operations-page.table.date' | translate }}</mat-header-cell>
                      <mat-cell *matCellDef="let transaction" > {{transaction.date | date:'dd-MM-yyyy' }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef> {{'operations-page.table.amount' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let transaction" > {{transaction.amount}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="message">
                    <mat-header-cell *matHeaderCellDef> {{'operations-page.table.message' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let transaction" > {{transaction.message}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="type">
                      <mat-header-cell *matHeaderCellDef> {{'operations-page.table.transaction-type' | translate }}</mat-header-cell>
                      <mat-cell *matCellDef="let transaction" > {{transaction.type}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="account">
                    <mat-header-cell *matHeaderCellDef> {{'operations-page.table.account' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let transaction" > {{transaction.account}} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator class="paginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"  #pagination></mat-paginator>
              </div>
            </div>
          </div>
        </div>    
    </div>
  </div>
  