.back-button{
    outline: 1px solid #949494;
    text-align: center; 
}

.buttons{
    position: relative;
    text-align: center; 
    margin-bottom: 5px; 
}

.transfer-button{
    outline: 1px solid #949494;
}

.account-name{
    font-weight: bold;
}