<div class="row" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="col-md-12 contract"  style="margin-left: 50px;" >
        <div class="titlelabel">
            {{'clauses-page.title' | translate}} 
        </div> 
        <div style="margin-top: 40px; margin-left: 20px">  
        <button mat-button 
          class="back-button" 
          routerLink = "../contracts"
          color="primary"> 
          <mat-icon matPrefix>arrow_back</mat-icon> 
          {{'clauses-page.button' | translate}}</button>

          <button mat-icon-button 
          (click)="openDialog()"
          class="addClauseButton"
          *ngIf="currentClient.role=='admin'">
          <mat-icon>add_circle_outline</mat-icon> 
         </button>  
        <div style="margin-top: 30px"> 
          <h6 style="font-style: italic" *ngIf = "emptyTitle"> {{'clauses-page.no-contract' | translate}} </h6>
        </div>
        <div *ngIf = "!emptyTitle && contract"> 
          <mat-accordion>
              <mat-toolbar class="toolbar">
                {{contract.contractId}}
              </mat-toolbar>
              <div style="margin-top: 30px"> 
                  <h6 style="font-style: italic" *ngIf = "noClauses"> {{'clauses-page.no-clauses' | translate}} </h6>
              </div>
              <div  > 
                <ng-container *ngFor = "let clause of contract.clauses">
                <mat-expansion-panel class="clause">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{clause.clauseTitle}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p> {{clause.clauseDesc}} </p>
                </mat-expansion-panel>
              </ng-container>
              </div>
            </mat-accordion> 
        </div>    
        </div>     
    </div>    
</div>
