.titlelabel{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.clause{
    width: 1000px;
}

.toolbar{
    width: 1000px;
    height: 60px;
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

mat-panel-title{
    font-style: italic;
}

.back-button{
    outline: 1px solid #949494;
    text-align: center; 
}

.addClauseButton{
    outline: 0;
    margin-left: 50px;
}