<div class="client-card"> 
  
  <h2 mat-dialog-title 
    style="margin:0px; 
    text-align:center;"> {{'clients-page.client-card.title' | translate}}
  </h2>
  <hr>

  <mat-dialog-content>
    <div class="closeButton" (click)="onClose()"> <mat-icon color='primary'>clear</mat-icon> </div>
    <div class="col-xs-12">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF0ZqCD68HDHti64bFIjN3hzeXT-cMLuo3KPGyXRijRAQHddXoNA"
            alt="selected client image"
            style="vertical-align: middle;" 
            class="img-responsive">
      <span style="text-align: center">{{client.firstName}}</span>      
      <span style="text-align: center">{{client.lastName}}</span>         
    </div>

    <hr>

    <mat-form-field>
      <mat-select placeholder="{{'clients-page.client-card.contracts-select' | translate}}">
        <mat-option *ngFor="let contract of client.contracts" 
        (click) = "onSelectedContract(contract)"> 
          {{contract}} 
        </mat-option>
      </mat-select>
      <mat-hint>{{'clients-page.client-card.contracts-hint' | translate}}</mat-hint>
    </mat-form-field>
    
    <br> <br>

    <div class="row">
      <button mat-button color="primary" 
      class="see-button"
      (click)="onSeeContracts()">{{'clients-page.client-card.see-contracts' | translate}}</button>
    </div>

    <hr>

    <mat-form-field>
      <mat-select placeholder="{{'clients-page.client-card.accounts-select' | translate}}">
        <mat-option *ngFor="let account of accounts"
        (click) = "onSelectedAccount(account)">
          {{account.accountId}}
        </mat-option>
      </mat-select>
      <mat-hint>{{'clients-page.client-card.accounts-hint' | translate}}</mat-hint>
    </mat-form-field>
    
    <br> <br>

    <div class="row">
      <button mat-button color="primary"
        class="see-button"
        (click)="onSeeAccounts()">{{'clients-page.client-card.see-accounts' | translate}}</button>
    </div>    

  </mat-dialog-content>

</div>