.img-responsive{
    width: 150px;
    margin-right: 15px;
}

.mat-form-field{
    width: 100%; 
    
}

.closeButton{
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}

.mat-icon{
    color: black;
}

.see-button{
    outline: 1px solid #949494;
    text-align: center;
    width: 250px; 
    margin-left: 18%; 
    margin-bottom: 10px; 
}

.mat-dialog-container{
    padding-top: 1px;
}

.client-card{
    box-shadow: 3px, 3px, 3px, #ccc; 
    position: relative;
}

span{
    font-size: 90%;
    font-family: Roboto,"Helvetica Neue",sans-serif; 
}

